body {
  font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #212121;
  width: 1600px;
}

.header {
  list-style: none;
}
.nav {
}

.logo {
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.29;
  text-decoration: none;
  color: #212121;
}
span {
  color: #2196f3;
}
.menu-list {
  text-decoration: none;
  list-style: none;
}
.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.item-hover:hover,
.item-hover:focus {
  color: #2196f3;
}
.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.service {
  background: #2f303a;
}
.service-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.service-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
}
.unique {
}

.unique-item {
  width: 270px;
  list-style: none;
}
.unique-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.unique-text-p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.about {
}
.about-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.about-holder {
  list-style: none;
}
.team {
  background: #f5f4fa;
}
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list {
  list-style: none;
  text-align: center;
}
.team-item {
  width: 270px;
  height: 368px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.team-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}
.footer {
  background: #2f303a;
}
.logo-ftr {
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.29;
  color: #ffffff;
  text-decoration: none;
}
.contact-ftr {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.link-ftr {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.line {
  border: 1px solid #ececec;
}
.portfolio-btn-holder {
  list-style: none;
}
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #2196f3;
  color: #ffffff;
  cursor: pointer;
}
.portfolio-card-holder {
  list-style: none;
}
.portfolio-card-item {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: 370px;
  height: 404px;
}

.portfolio-card-h {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-card-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
